[submodule "topmed_multiomics_qc"]
	path = topmed_multiomics_qc
	url = git@changit.bwh.harvard.edu:rejpz/topmed_multiomics_qc.git
[submodule "rnaseq_snp_concordance"]
	path = rnaseq_snp_concordance
	url = git@changit.bwh.harvard.edu:rejpz/rnaseq_snp_concordance.git
[submodule "cdnm"]
	path = cdnm
	url = git@changit.bwh.harvard.edu:rejpz/cdnm.git
[submodule "850K_qc_pipeline"]
	path = 850K_qc_pipeline
	url = git@changit.bwh.harvard.edu:rejpz/850K_qc_pipeline.git
[submodule "cdnm_gwas_pipeline"]
	path = cdnm_gwas_pipeline
	url = git@changit.bwh.harvard.edu:rejpz/cdnm_gwas_pipeline.git
[submodule "cdnm_pca_pipeline"]
	path = cdnm_pca_pipeline
	url = git@changit.bwh.harvard.edu:rejpz/cdnm_pca_pipeline.git
[submodule "king"]
	path = king
	url = git@changit.bwh.harvard.edu:rejpz/king.git
[submodule "COPD_lost_samples"]
	path = COPD_lost_samples
	url = git@changit.bwh.harvard.edu:rewki/COPD_lost_samples
[submodule "oracle_loading"]
	path = oracle_loading
	url = git@changit.bwh.harvard.edu:reaka/oracle_loading
